<div class="flex hover:cursor-pointer w-full hover:bg-gray-200 bg-[#FAFAFA] p-2 rounded justify-between items-center" (click)="goToDetails(pharmacy)">
  <div class="">
    <span class="text-base font-medium">{{pharmacy?.name}}</span>
    <div class="flex items-center mt-2">
      <img src="assets/position.png" class="h-10 w-10" alt="position"/>
      <span>{{pharmacy?.formatted_address}}</span>
    </div>
  </div>
  <div>
    <img src="assets/pharmaicon.png" alt="position" class="h-10 mr-10" />
  </div>
</div>
