<div class="container p-5 rounded">
  <h5 class="text-center mt-3 mb-3 font-bold text-4xl capitalize text-base">A propos du projet</h5>
  <p class="text-justify bg-back rounded p-3">
    Loca Pharmacie est une application qui permet au populations de localiser les pharmacies selon leur besoin. La recherche est principalement axée sur le Burkina Faso. Profiter !
  </p>

  <div class="mt-4">
    <h3 class="font-bold text-base text-4xl capitalize text-center">Contributeurs au projet</h3>
    <div class="flex gap-3 mt-5 justify-start flex-wrap mx-auto max-w-screen-md">
      <div *ngFor="let personnel of personnels">
        <app-personnal-card [personnel]="personnel"></app-personnal-card>
      </div>
    </div>

    <section class="bg-back">
      <div class="py-4 mt-5 px-2 mx-auto max-w-screen-md">
        <h2 class="mb-4 text-4xl tracking-tight font-bold text-center text-base">Contactez Nous</h2>
        <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 sm:text-xl">
        Besoin d'aide ? Vous pouvez nous contacter en remplissant le formulaire ci-dessous.
        <form action="#" class="space-y-8">
          <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Votre mail</label>
            <input type="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5" placeholder="exemple@gmail.com" required>
          </div>
          <div>
            <label for="subject" class="block mb-2 text-sm font-medium text-gray-900">Sujet</label>
            <input type="text" id="subject" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500" placeholder="Comment vous aidez" required>
          </div>
          <div class="sm:col-span-2">
            <label for="message" class="block mb-2 text-sm font-medium text-gray-900">Votre message</label>
            <textarea id="message" rows="6" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500" placeholder="Votre message..."></textarea>
          </div>
          <button type="submit" class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-base sm:w-fit">Envoyer</button>
        </form>
      </div>
    </section>
  </div>
</div>
